@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
}

body{
    background-color: #1e1e1e;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: 3vh;
    padding: 2vh 2vw;
}

#mainHeading{
    font-size: 2.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box{
    border: 1.5px solid #1EFFC9;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

.resultBox{
    line-height: 30px;
}

.female{
    color: #1EFFC9;
}

input[type ="range"]{
    width: 90%;
    margin-top: 2vh;
}

.slider::-webkit-slider-runnable-track{
    background-color: #1e1e1e;
    box-shadow: inset 5px 5px 12px #1b1b1b,
    inset -5px -5px 12px #212121;
    border-top: 1px solid #03b9a7;
    border-bottom: 1px solid #03b9a7;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb{
    border-radius: 50px; 
    background: #03dac5;
    box-shadow: inset 5px 5px 9px #03b9a7, 
          inset -5px -5px 9px #03fbe3;
    cursor: pointer;
    -webkit-appearance: none;
    height: 100%;
    width: 30px;
}

.gender{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 3em;
    justify-self: center;
    width: 50vw;
    grid-gap: 20vw;
}

.gender > div{
    cursor: pointer;
    border: none;
    background: #1E1E1E;
    box-shadow: inset 5px 5px 12px #1b1b1b,
            inset -5px -5px 12px #212121;
}

button{
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
    height: 10vh;
}
button:hover{
    background-color: #1EFFC9;
}




